*{
margin: 0;
background: linear-gradient(135deg,#850c62,#f80759);
padding: 0;
}
.contanier{
  background: linear-gradient(135deg,#850c62,#f80759);
  width:100%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: #fff;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}